:root {
    --bg-color: #0d1b2a;
    --card-color: #1b263b;
    --text-color: #e0e1dd;
    --accent-color: #415a77;
    --border-color: #778da9;
}

.nav-item{
    font-family: var(--font-primary);
    font-size: 1.2rem !important;
    color: var(--text-color);
}

nav.navbar.bg-body-tertiary {
    background-color: var(--accent-color) !important;
    color: var(--text-color);
    padding: 1rem;
}